.view-header-nav-buttons{
    display: none;
}

.view-header-left button{
    box-shadow: none;
}

.rpg-view-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rpg-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    min-width: 25%;
}

.rpg-item-emoji{
    font-size: 500%;
}

.rpg-item-name{
    font-size: 100%;
}

.rpg-item-preview{
    position: relative;
    text-align: center;
    width: 100%;
}