.view-header-nav-buttons{
    display: none;
}

.view-header-title{
    display: none;
}

.view-header-left button{
    box-shadow: none;
}

.rpg-view-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rpg-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    min-width: 33%;
    margin-top: 5vh;
    margin-bottom: 11vh;
}

@media only screen and (max-width: 1024px) {
    .rpg-item{
        min-width: 50%;
    }
  }

@media only screen and (max-width: 768px) {
    .rpg-item{
        min-width: 100%;
    }
}

.rpg-item-number{
    position: relative;
    width: 100%;
    height: 0;
    font-size: 28vh;
    z-index: 0;
    color: #f2f2f2;
    margin-top: -13vh;
    margin-bottom: 13vh;
}

.theme-dark .rpg-item-number{
    color: #272727;
}

.rpg-item-emoji{
    font-size: 8vh;
    z-index: 2;
}

.rpg-item-name{
    font-size: 100%;
    z-index: 2;
}

.rpg-item-preview{
    position: relative;
    text-align: center;
    width: 17%;
    height: 0;
    margin: auto;
    margin-top: -7vh;
    margin-bottom: 8vh;
    font-size: 50%;
    z-index: 2;
    /* opacity: 0.5; */
}