.view-header-nav-buttons{
    display: none;
}

.view-header-title{
    display: none;
}

.view-header-left button{
    box-shadow: none;
}

.rpg-view-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rpg-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    min-width: 33%;
    margin-top: 5vw;
    margin-bottom: 11vw;
}

@media only screen and (max-width: 1024px) {
    .rpg-item{
        min-width: 50%;
    }
  }

@media only screen and (max-width: 768px) {
    .rpg-item{
        min-width: 100%;
    }
}

.rpg-item-number{
    position: relative;
    width: 100%;
    height: 0;
    font-size: 28vw;
    z-index: 0;
    color: #f2f2f2;
    margin-top: -13vw;
    margin-bottom: 13vw;
}

.rpg-item-emoji{
    font-size: 8vw;
    z-index: 2;
}

.rpg-item-name{
    font-size: 100%;
    z-index: 2;
}

/* .rpg-item-preview{
    position: relative;
    text-align: center;
    width: 20%;
    height: 0;
    margin: auto;
    margin-top: -7%;
    margin-bottom: 7%;
    opacity: 0.5;
} */